.v-field--no-label {
  --v-input-control-height: 32px;
}

.v-input--density-default .v-field--no-label {
  --v-field-input-padding-bottom: 10px;
  --v-field-input-padding-top: 10px;
}

.v-input--density-comfortable .v-field--no-label {
  --v-field-input-padding-bottom: 8px;
  --v-field-input-padding-top: 8px;
}

.v-input--density-compact .v-field--no-label {
  --v-field-input-padding-bottom: 2px;
  --v-field-input-padding-top: 2px;
}
